/* Estilo geral do body */
* {
    margin: 0;
    padding: 0;
    border: 0;

    font-family: 'Open Sans', sans-serif;
    color: #333;
    
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}

:root {
    --color-title: #3fe0e6;
}

/* Container principal */
.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding-bottom: 40px;
    /* padding: 0px 20px; */
    background-color: #fcf9f9;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1, h2, h3 {
    color: var(--color-title);
}

h1 {
    font-size: 2.5em;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

/* NAV BAR*/
#navbar {
    background-color: #fff; min-height: fit-content; width: 100%; max-width: 1240px; position: fixed; box-shadow: 0px 0px 10px rgba(0,0,0, 0.1); z-index: 1; user-select: none;

    #items-navbar {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        list-style: none;

        a {
            border: 1px solid white;
            min-width: 100px;
            min-height: 50px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            text-decoration: none;
        }

        a:hover {
            background-color: rgba(231, 231, 231, 0.342);
            cursor: pointer;
            color:#3fe0e6;
            span {
                color:#3fe0e6;
            }
        }

        #cart {
            span {
                font-size: 30px;
            }
        }
    }
}

#title {
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 15px;
    margin-left: 0;
}

/* FIM DA NAVBAR*/

.beer-list {
    display: flex; 
    overflow-x: auto; 
    padding: 10px 0; 
    gap: 20px; 
}

/* Cartão de bebida */
.beer-card {
    min-width: 200px;
    width: 220px; 
    flex: 0 0 auto; 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #fff; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
    margin-block: 5px;
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.produtos-imgs {
    width: 100%; 

    height: auto; 
    border-radius: 10px 10px 0 0; 
    margin-bottom: 10px; 
    object-fit: cover;
}

.beer-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.beer-card h3 {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.beer-card p {
    margin: 5px 0;
}

/* Estilo do input e botão */
input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
}

button {
    background-color: #3fe0e6; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s; 
}

button:hover {
    background-color: #2ab8c8; /* Cor do botão em hover */
    transform: translateY(-2px); /* Efeito de elevação no hover */
}

/* Estilo para o carrinho */
#carrinho {
    margin: 40px auto 0px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

#carrinho h2 {
    margin-bottom: 10px;
}

#listaCarrinho {
    list-style-type: none;
    padding: 0;
}

#listaCarrinho li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 768px) {
    .beer-card {
        flex: 1 1 calc(50% - 20px); /* 2 cartões por linha */
    }
}

@media (max-width: 480px) {
    .beer-card {
        flex: 1 1        100%; /* 1 cartão por linha */
    }

    input[type="number"] {
        width: 100%; /* Ajusta a largura do input em telas menores */
    }

}